{% extends "admin_base.html" %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <h1 class="text-center">Enter New Password</h1>
            <hr>
            <form class="col-sm-offset-3 col-sm-6" method="POST">
                {% csrf_token %}

                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

                <div class="form-group">
                    {{ form.new_password1.errors }}
                    <label for="new_password1">Password</label>
                    <input type="password" id="new_password1" name="new_password1" class="form-control">
                </div>

                <div class="form-group">
                    {{ form.new_password2.errors }}
                    <label for="new_password2">Confirm Password</label>
                    <input type="password" id="new_password2" name="new_password2" class="form-control">
                </div>

                <button class="btn btn-default pull-right" type="submit">Change my password</button>
            </form>
        </div>
    </div>

{% endblock content %}